
</body>

<!-- footer start -->

  <footer>
  <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
  <a href="#"><i class="fab fa-whatsapp-square" aria-hidden="true"></i></a>
  <a href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a>
  <p class="copyright">© Made With '<i class="fas fa-heart"></i>' By <a class="devcon" href="https://devconquerors.github.io/Devconquerors/">DevConquerors</a></p>
  <a href="https://devconquerors.xyz/">
    <p class="developer">Developer's contact</p>
  </a>

</footer>

<!-- footer end -->

<!-- jquery -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>

 <!-- bootstrap scripts -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"> </script>

<!-- owl carousel script -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>


<script src="JS/index.js"></script>


</html>
