<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>dashboard</title>
  <!-- bootstrap cdn -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <!-- font awesome cdn -->

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


  <!-- google font cdn -->

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap" rel="stylesheet">

  <!-- owl carousal css styles -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" />

  <!--css styles-->

  <link rel="stylesheet" href="css/styles.css">

</head>


<body class="afterlogin">




  <div class="header_afterlogin">
    <div class="">
      <img class="afterlogin_img" src="images/profile.jpg" alt="">
    </div>
    <div class="afterlogin_1row2ndcol">
      <h1 class="afterlogin_h1">Tiljala High School</h1>
      <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries, </p>
    </div>
  </div>
  <hr>
  <div class="row">

    <div class="col-lg-3 col-md-4">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" href="dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        <a class="nav-link" href="myprofile"><i class="fas fa-user-circle"></i> My Profile</a>
        <a class="nav-link" href="academic"><i class="fas fa-user-graduate"></i> Academics</a>
        <a class="nav-link" href="settings"><i class="fas fa-cog"></i> Settings</a>
        <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
      </div>
    </div>

    <div class="col-lg-9 col-md-8 afterlogin2row2col">

      <%if(studentData){%>

      <div class="alert alert-success" role="alert">
        <h1>You Have Already Submitted Your Details.</h1>
        <h2>Go to Settings Page for Edit</h2>
      </div>
      <% } else{%>

      <div class="personal-header">
        <h2 class=""><u>Give Your Personal Details</u></h2>
      </div>
      <form class="" action="/myprofile" method="post">
        <div class="card personal-card">
          <div class="card-header">
            <h2 class="personal-header" style="color: green;">Student Details</h2>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="" for="">Name:</label>
                  <input type="text" name="name" class="form-control dashboard-input" required>
                </div>
                <div class="form-group">
                  <label class="" for="">Class:</label>
                  <input type="number" name="class" list="class" min="1" max="12" title="Please Choose From the Valid Options" class="form-control dashboard-input" required autocomplete="off"/>
                  <datalist id="class">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </datalist>
                </div>

                <div class="form-group">
                  <label class="" for="">Roll No:</label>
                  <input type="number" min="1" max="50" title="Please Provide a Valid Roll No" name="rollno" class="form-control dashboard-input" required autocomplete="off">
                </div>
                <div class="form-group">
                  <label class="" for="">Section:</label>
                  <input type="text" list="section" pattern="[ABC]" title="Choose From The Given Options" name="section" class="form-control dashboard-input" required autocomplete="off">
                  <datalist id="section">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>

                  </datalist>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="" for="">Blood Group:</label>
                  <input type="text" name="blood" pattern="(A|B|AB|O)[+-]" title="Please Choose From The Options" list="blood" class="form-control dashboard-input" required autocomplete="off">
                  <datalist id="blood">
                    <option>A+</option>
                    <option>A-</option>
                    <option>B+</option>
                    <option>B-</option>
                    <option>B-</option>
                    <option>O+</option>
                    <option>O-</option>
                    <option>AB+</option>
                    <option>AB-</option>

                  </datalist>
                </div>
                <div class="form-group">
                  <label class="" for="">Address:</label>
                  <input type="text" name="address" class="form-control dashboard-input" required>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-6">
            <div class="card parents-card">
              <div class="card-header">
                <h2 class="personal-header">Father's Details</h2>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="" for="">Name:</label>
                      <input type="text" name="fatherName" class="form-control dashboard-input" required>
                    </div>

                    <div class="form-group">
                      <label class="" for="">Occupation:</label>
                      <input type="text" name="fatherOccupation" class="form-control dashboard-input" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="" for="">Mobile No:</label>
                      <input type="text" pattern="[6789][0-9]{9}" title="This is Not a Valid Phone Number" name="fatherMobile" class="form-control dashboard-input" required>
                    </div>
                    <div class="form-group">
                      <label class="" for="">Email Id(if any):</label>
                      <input type="email" name="fatherEmail" class="form-control dashboard-input" >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="card parents-card">
              <div class="card-header">
                <h2 class="personal-header">Mother's Details</h2>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="" for="">Name:</label>
                      <input type="text" name="motherName" class="form-control dashboard-input" required>
                    </div>

                    <div class="form-group">
                      <label class="" for="">Occupation:</label>
                      <input type="text" name="motherOccupation" class="form-control dashboard-input" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="" for="">Mobile No:</label>
                      <input type="text"   pattern="[6789][0-9]{9}" title="This is Not a Valid Phone Number"  name="motherMobile" class="form-control dashboard-input" required>
                    </div>
                    <div class="form-group">
                      <label class="" for="">Email Id(if any):</label>
                      <input type="email" name="motherEmail" class="form-control dashboard-input" >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-dark personal-submit">Submit</button>
      </form>
    </div>
  </div>
  <%}%>
