<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>Admin</title>
  <link rel="stylesheet" href="css/styles.css">

  <!-- bootstrap cdn -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body class="admin-panel container-fluid">

<h1 class="text-center mt-4 post-notice-title"> <u> Notices </u> </h1>

<div class="row">
  <div class="card col-lg-3 col-md-3 admin-pic" style="width: 18rem">
    <img src="images/lost.svg" class="card-img-top" alt="adimin-head" />
    <div class="admin-name">
      <h4>Tiljala High School</h4>
    </div>
    <div class="card-body nav-pills">
      <a class="nav-link " aria-current="page" href="/admin">Admin</a>
      <a class="nav-link active" href="/Deletenotice">Notice</a>
      <div class="dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Students</a
        >
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <form action="/studentlist" method="POST">
            <button name="btn" value="5" type="submit" class="dropdown-item">Class V</button>
          </form>
          <form action="/studentlist" method="POST">
            <button name="btn" value="6" type="submit" class="dropdown-item">Class VI</button>
          </form>
          <form action="/studentlist" method="POST">
            <button name="btn" value="7" type="submit" class="dropdown-item">Class VII</button>
          </form>
          <form action="/studentlist" method="POST">
            <button name="btn" value="8" type="submit" class="dropdown-item">Class VIII</button>
          </form>
          <form action="/studentlist" method="POST">
            <button name="btn" value="9" type="submit" class="dropdown-item">Class IX</button>
          </form>
          <form action="/studentlist" method="POST">
            <button name="btn" value="10" type="submit" class="dropdown-item">Class X</button>
          </form>
          <form action="/studentlist" method="POST">
            <button name="btn" value="11" type="submit" class="dropdown-item">Class XI</button>
          </form>
          <form action="/studentlist" method="POST">
            <button name="btn" value="12" type="submit" class="dropdown-item">Class XII</button>
          </form>
        </div>
      </div>
      <a class="nav-link" href="/admin/logout">Log Out</a>
    </div>
  </div>

  <div class="post-notice-background col-lg-8 col-md-8">

    <% if (!deleteNotice) { %>

    <div class="no-found-notice">
      <h1> No notice has been found! </h1>

    </div>
    <% } else { %>

    <% deleteNotice.forEach(function(posts){ %>
    <form class="" action="/Deletenotice" method="post">
      <div class="container-fluid">
        <div class="card notice-card">
          <div class="card-body">
            <div class="item">

              <h5 class="card-title post-notice-heading"><u><b> <%= posts.noticeHeading %> </b></u></h5>

              <h6 class="card-text post-notice-body"> <%= posts.noticeBody  %> </h6>


              <button type="submit" name="noticeid" class="admin_notice_but btn btn-lg btn-success" value="<%=posts._id%>">Delete</button>

            </div>
          </div>
        </div>
      </div>
    </form>

    <% }) %>

    <% } %>

  </div>
</div>
</body>

<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
</html>
