<%- include('partials/header'); -%>

    <title>Resources</title>


  <body>

  </body>
</html>
<div class="head-resources">
  <h1>This page is under progress</h1>
</div>

<%- include('partials/footer'); -%>
