<%- include('partials/header'); -%>

  


 <body class="syllabus-body">

   <h1 class="syllabus-heading"><u>Tiljala High School</u></h1>

   <div class="row syl-img">
  <div class="col-lg-4 col-md-6 syl-img">
    <img src="images\hironmoy.jpg" class="rounded" alt="Snow" style="width:100%">
  </div>
  <div class="col-lg-4 col-md-6 syl-img">
    <img src="images\hironmoy.jpg" class="rounded" alt="Forest" style="width:100%">
  </div>
  <div class="col-lg-4 col-md-6 syl-img">

    <img src="images\hironmoy.jpg" class="rounded" alt="Mountains" style="width:100%">
  </div>
</div>


<div class="syllabus">

   <h1> <u>SYLLABUS</h1></u>
</div>

 <h2 class="v-x">CLASS V TO X</h2>
 <div class="buttons">


<a href="#" class="btn btn-primary button-bottom-margin">Class 5</a>
<a href="#" class="btn btn-secondary button-bottom-margin">Class 6</a>
<a href="#" class="btn btn-success button-bottom-margin">Class 7</a>
<a href="#" class="btn btn-danger button-bottom-margin">Class 8</a>
<a href="#" class="btn btn-warning button-bottom-margin">Class 9</a>
<a href="#" class="btn btn-info button-bottom-margin">Class 10</a>


</div>

<h2 class="XI">CLASS XI</h2>

<div class="buttons">


  <a href="#" class="btn btn-primary button-bottom-margin">Language</a>
  <a href="#" class="btn btn-secondary button-bottom-margin">Maths</a>
  <a href="#" class="btn btn-success button-bottom-margin">Physics</a>
  <a href="#" class="btn btn-danger button-bottom-margin">Biology</a>
  <a href="#" class="btn btn-warning button-bottom-margin">Chemistry</a>
  <a href="#" class="btn btn-info button-bottom-margin">Computer Science</a>


</div>

<h2 class="XII">CLASS XII</h2>

<div class="buttons">


  <a href="#" class="btn btn-primary button-bottom-margin">Language</a>
  <a href="#" class="btn btn-secondary button-bottom-margin">Maths</a>
  <a href="#" class="btn btn-success button-bottom-margin">Physics</a>
  <a href="#" class="btn btn-danger button-bottom-margin">Biology</a>
  <a href="#" class="btn btn-warning button-bottom-margin">Chemistry</a>
  <a href="#" class="btn btn-info button-bottom-margin">Computer Science</a>


</div>


<%- include('partials/footer'); -%>
